[submodule "Packages/jp.keijiro.test-assets"]
	path = Packages/jp.keijiro.test-assets
	url = https://github.com/keijiro/jp.keijiro.test-assets.git
[submodule "Packages/jp.keijiro.danish-statues"]
	path = Packages/jp.keijiro.danish-statues
	url = https://github.com/keijiro/DanishStatues.git
	branch = upm
[submodule "Packages/jp.keijiro.beta"]
	path = Packages/jp.keijiro.beta
	url = https://github.com/keijiro/jp.keijiro.beta.git
[submodule "Packages/jp.keijiro.cmu-mocap"]
	path = Packages/jp.keijiro.cmu-mocap
	url = https://github.com/keijiro/CMUMocap.git
	branch = upm
[submodule "Packages/jp.keijiro.kino.post-processing"]
	path = Packages/jp.keijiro.kino.post-processing
	url = https://github.com/keijiro/Kino.git
	branch = upm
[submodule "Packages/jp.keijiro.dabrovic-sponza"]
	path = Packages/jp.keijiro.dabrovic-sponza
	url = https://github.com/keijiro/DabrovicSponza.git
	branch = upm
